server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/your_db_name #change
    username: postgres
    password: your_postgres_password  #change
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      INDENT_OUTPUT: true
  security:
    jwt:
      refresh-expiration-ms: 86400000 # 24h
